html, body {
    font-family: TruliaSans, system, -apple-system, Roboto, "Segoe UI Bold", Arial, sans-serif;
    color: rgb(59, 65, 68);
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.1px;
    margin: 0px;
    padding: 0px;
}