.thumb-data {
    background-color: rgb(224, 247, 248);
    display: inline;
    width: auto;
    border-radius: 8px;
    overflow: hidden;
    padding: 4px 8px;
    min-width: 80px;

    .thumb-container {
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        display: flex;

        .thumb {
            display: inline-block;
            font-size: 0px;
            width: 24px !important;
            height: 24px !important;

           .svg {
            height: 24px;
            height: 24px;
           }
        }

        .data {
            margin: 0px 8px;

            .data-text {
                min-width: 48px;
                font-weight: bold;
            }
        }
    }
}